*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
   height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arizonia", cursive;
}

/* .container {
  width: 100vw;
  height: 100vh;
  overflow: visible; 
  position: relative;
}

.container img{
  width: 100%;
  height: 100%;
  object-fit: fill; 

}

.container nav{
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.container nav .logo-div{
  height: 100%;
  width: 90px;
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.nav-links{
  display: flex;
  align-items: center;
  margin-right: 100px;
  gap: 60px;
  font-size: 23px;
}

.link {
  color: white;
  text-decoration: none; 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.link:hover{
  transform: scale(1.1);
  
}

.container .btn{
  position: absolute;
  z-index: 10;
  bottom: 15%;
  left: 20%;
  height: 50px;
  width: 150px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);

  border-radius: 12px;
  cursor: pointer;

  font-family: "Arizonia", cursive;
  font-size: 19px;
  font-weight: 600;
  color: #222;
}

.info{
  position: absolute;
  bottom: 25%;
  left: 16%;
  z-index: 10;
  display: flex;
}

.clock{
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.timing{
  color: #222;
  font-family: "Arizonia", cursive;
}

.location{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
}

.location-text{
  font-family: "Arizonia", cursive;
}

.clock-icon{
  color: #ffbf00;
  font-size: 20px;
}

.location-icon{
  color: #ffbf00;
  font-size: 20px;
}
 */
