.admin-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.admin-container img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: fill;
    z-index: -1;
}

.center-div{
    background: rgba(0, 0, 0, 0.564);
    border: 1px solid rgba(255, 255, 255, 0.026);
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-heading {
    display: flex !important;
    flex-direction: column !important; /* stack h1 above p */
    justify-content: center !important; /* optional: centers vertically */
    align-items: center !important;     /* centers horizontally */
    padding: 20px 30px !important;      /* shorthand for top/bottom 20px, left/right 30px */
    gap: 10px !important;               /* space between h1 and p */
}

.head-h1{
    font-size: 70px;
}

.head-p{
    font-size: 20px;
}

.labels{
    margin-top: 10px;
}

form{
    display: flex;
    min-width: 80%;
    min-height: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.inp-lab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 10px; */
    gap: 10px;
}

button{
    background: rgba(0, 0, 0, 0.522);
    margin-top: 40px;
    height: 60px;
    width: 150px;
    padding: 3px;
}