.menu-container{
    width: 100vw;
    min-height: 100vh;
    color: #F0f0f0;
    position: relative;
    background-image: url('../assets/menubg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optional: keeps bg fixed while scrolling */
    background-position: center;  /* keep it centered */
}

.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    color: #362017;
    font-weight: bolder;
}

.menu-heading{
    font-size: 100px;
}

.nav-inputs{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 20%;
}

.nav-inputs input{
    width: 100%;
}

.search-category{
    cursor: pointer;
    color: #F0f0f0;
    text-shadow: 2px 2px 4px #000000;
    transition: transform 0.3s ease;
    border: none;
}

.search-category:hover{
    transform: scale(1.1);
}

.search-dish{
    cursor: pointer;
    color: #F0f0f0;
    text-shadow: 2px 2px 4px #000000;
    transition: transform 0.3s ease;
    border: none;
}

.search-dish:hover{
    transform: scale(1.1);
}

.category-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
    /* background-color: #000000; */
}

.cat-btn{
    margin-top: 0px;
}

.cat-btn.active{
    background-color: #362017;
    color: #F0f0f0;
    border: none;
    box-shadow: 2px 2px 4px black;
}

.menu-section{
    /* background-color: #000000; */
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.category-heading{
    font-size: 60px;
    color: #362017;
    font-weight: 400;
    text-decoration: underline;
}

.menu-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #90857B solid 3px;
    margin-top: 7px;
}

.left-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 20px;
    border: #90857B solid 3px;
    width: 40%;
}

.dish-heading{
    color: #362017;
    font-weight: 900;
    font-size: 40px;
}

.dish-price{
    font-size: 25px;
}

.dish-desc{
    font-size: 25px;
    
}

.upper-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-section{
    margin-top: 10px;
}

.right-section{
    /* border: white solid 2px; */
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.minus{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.plus{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.quantity{
    font-size: 30px;
}

.checkOut {
    margin-top: 10px;
}