.about-container{
    min-height: 100vh;
    width: 100vw; 
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bgabout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: block; 
}

.pic-text{
    height: 100%;
    max-width: 900px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.picture{
    height: 450px;
    width: 450px;
}

.pic-text .text{
    color: white;
    font-size: 30px;
}