.contact-container{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.contact-container img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: fill;
}

.form{
    position: absolute;
    color: white;
    top: 140px;
    left: 300px;
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
}

.row {
    display: flex;
    gap: 20px; /* space between name and phone */
}

.row input {
    flex: 1; /* each input takes equal space in the row */
    height: 40px !important;
}

input{
    max-width: 600px;
    padding: 10px !important;
    border-radius: 7px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.2);
    color: white;
}

textarea {
    width: 50%;
    min-height: 130px; /* or 200px as you like */
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.2);
    color: white;
    overflow: auto;
    resize: vertical;
    height: auto !important; /* override that 40px !important from global CSS */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

button{
    height: 100px;
    width: 200px;

    margin-top: 10px;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    font-family: "Arizonia", cursive;
    font-size: 20px;
    cursor: pointer;

    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.1);
}